@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
        height: 80px;
    }

    .b{
      margin-bottom: 10px;  
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .filme-principal{
        height: 400px;
        background-size: cover;
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}